.neutrino-header {
  margin: 1rem 0 1rem;
  text-align: center;
}

.neutrino-header h1,
.neutrino-header h2 {
  color: var(--primary-light-color);
  padding: 0;
}

.neutrino-header h1 {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  margin: 0.7rem 0 0 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
}

.neutrino-header h2 {
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
  font-weight: 200;
  font-style: italic;
}

.neutrino-logo {
  width: 6.5rem;
}

.neutrino-content {
  border: solid 1px var(--secondary-light-color);
  margin: 1rem 0 0;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.neutrino-footer {
  padding: 2rem 3rem 2rem 0;
}
