<div class="fullheight neutrino-page flex-column align-center justify-between">
  <div class="neutrino-page__upper-body flex-row">
    <div class="col-6 mx-auto">
      <header class="neutrino-header flex-column align-center">
        <img
          class="neutrino-logo"
          src="static/logo_large.svg"
          alt="Neutrino logo"
        />
        <h1>
          <span aria-hidden="true">&#8211;</span>
          <ng-container i18n="site-header|A global header title">NEUTRINO</ng-container>
          <span aria-hidden="true">&#8211;</span>
        </h1>
        <h2 i18n="header-subtitle|A subtitle for the global header">Share your passwords securely</h2>
      </header>
      <section class="neutrino-content">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
  <footer class="neutrino-footer flex-row justify-end align-center">
    <form *ngIf="isAuthenticated" class="neutrino-footer__item col-auto" (submit)="submitLogout($event)">
      <button type="submit" class="btn-link" i18n="logout|Button to trigger a logout">Logout</button>
    </form>
    <app-locale-changer class="col-auto neutrino-footer__item"></app-locale-changer>
  </footer>
</div>
