<div>
    <h2 i18n="homepage-welcome">Welcome to neutrino</h2>
    <form (submit)="newConversationSubmit($event)">
        <button type="submit" i18n="homepage-start-conversation">Start a new conversation</button>
    </form>
    <div *ngIf="conversations.length > 0">
        <div i18n="homepage-recent-conversations">Recent conversations:</div>
        <ul>
            <li *ngFor="let conv of conversations">
                <a routerLink="/conversation/{{ conv.id }}">{{ conv.id }}</a>
                <span> - </span>
                <span title="{{ conv.last_update_date | date:'medium' }}">{{ conv.last_update_date | timeFromNow }}</span>
            </li>
        </ul>
    </div>
</div>
